.botonesTc{
    display: flex; /* Usar flexbox para alinear los botones */
    justify-content: center; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior */
    gap: 10px; /* Espacio entre los botones */
}
@media (max-width: 768px) {
    .botonesTc {
        flex-direction: column; /* Botones en columna */
    }

    .btn-agregar-usuario {
        width: 100%; /* Botones ocupan todo el ancho */
    }

    #tablaImagen {
        width: 100%; /* La imagen ocupa el ancho total */
        height: au; /* Mantiene proporción */
        max-width: 100%;
    }
}