.form-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .btn-print {
    background-color: #007bff;
    color: white;
  }
  .btn-save {
    background-color: #28a745;
    color: white;
  }
  .btn:hover {
    opacity: 0.9;
  }
  .photoCerda {
    margin-top: 20px;
    width: 150px;
    height: 350px;
  }
  .photoCerda img {
    border-radius: 5px;
    border: 2px solid #c8cacc;
  }
  .input-group1{
    margin-left: 20px;
  }