@import "./variables.css";
body {
  background-color: var(--color-FondoDiv2);
    font-family: Arial;
    margin-left: 17px;
    padding: 0;
  }
  
 
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;

  }
  
  table, th, td {
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px 1px  rgba(120, 122, 120, 0.6) /* Sombra verde */

  }
  
  th, td {
    padding: 10px;

    text-align: left;
  }
  
  th {
    border-bottom: 1px solid var(--color-principal);
    

  }
  
  .btn {
    background-color: var(  --color-Botones);
    padding: 10px 35px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 8px 1px  rgba(25, 157, 60, 0.6) /* Sombra verde */
  }
  .btn:hover {
    background-color: #f4cf50; /* Tonalidad m치s oscura */
    color: black;
  }
  .btn:active {
    background-color:var(--color-principal)!important;
    color: white !important;
    box-shadow: none !important;
  }
  .btn-agregar-usuario {
  
    padding: 10px 35px;
  
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 8px 1px  rgba(25, 157, 60, 0.6) /* Sombra verde */
  }
  .btn-agregar-usuario:hover {
    background-color: #f4cf50; /* Tonalidad m치s oscura */
    color: black;
  }

  /* Eliminar bordes de los inputs */
  .input-no-border {
    border: none; /* Sin bordes */
    outline: none; /* Sin resalte al enfocarse */
    background-color: transparent; /* Fondo transparente */
    width: 100%; /* Ocupa el ancho disponible */
  }

  /* Ajuste de tablas para dise침o responsivo */
  #userTable {
    width: 100%; /* Ancho total de la tabla */
  }

  #userTable input,
  #userTable select {
    font-size: 0.9rem; /* Ajusta el tama침o del texto */
  }

  
  footer {
    text-align: center;
    padding: 10px;
  }
  