@import "./variables.css";
body {
    background-color: var;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
h1{
    font-family: var(--font-principal);
    color:  #FFBB00;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: gray 1px 2px 5px;
    margin-top: 50px;
}