@import "./variables.css";
body {
  background-color: var(--color-FondoDiv2);
    font-family: Arial, sans-serif;
    margin-le: 17px;
    padding: 0;
  }
  
 
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;

  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .btn {
    background-color: var(  --color-Botones);
    padding: 10px 35px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 8px 1px  rgba(25, 157, 60, 0.6) /* Sombra verde */
  }
  .btn:hover {
    background-color: #f4cf50; /* Tonalidad más oscura */
    color: black;
  }
  .btn:active {
    background-color:var(--color-principal)!important;
    color: white !important;
    box-shadow: none !important;
  }
  
  footer {
    text-align: center;
    padding: 10px;
  }
  