#sidebar {
  display: none;
  transition: all 0.3s ease; /* Animación opcional */
  background-color: var(--color-menu-lateral);
  width: 250px;
}

#sidebar.open {
  display: block;
}
.btn-MenuLateralAbrir{
  margin-top: -5px;
  margin-left: -10px;
  font-size: 30px;
  font-weight: 700;
  border:none;

}

.btn-MenuLateralCerrar{
  margin-top: -20px;
  margin-left: 190px;
  font-size: 25px;
  border:none;
}
.seccion-1 h1{
    font-family: var(--font-principal);
    color:  #FFBB00;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: gray 1px 2px 5px;
                
}
.seccion-2{
  font-size: 1.3em;
  font-family: Arial;
}
/* Submenú dentro del menú lateral */
#sisidebarMenu .submenu {
  margin-left: -10px; /* Ajustar margen */
  list-style: none; /* Eliminar viñetas */
}

/* Ocultar los submenús en el encabezado */
.nav-item .submenu {
  display: none;
}

.nav-item.active .submenu {
  display: block; /* Mostrar submenús al hacer clic en pantallas pequeñas */
}

/* Animación para mostrar el menú lateral */
#sidebar {
  transition: all 0.3s ease;
  

}








@media (max-width: 991px) { /* Para pantallas menores a md */
  #sidebar {
    display: none !important; /* Oculta el menú lateral */
  }
 

  #toggleMenu, #closeMenu {
    display: none !important; /* Oculta los botones asociados */

  }
  #sidebar.open {
    display: block;
  }
  

}

