#sidebar {
  display: none;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Oculto inicialmente */
}

#sidebar.open {
  display: block;
  transform: translateX(0); /* Visible */
}


  
  