#sidebar {
  display: none;
  transition: all 0.3s ease; /* Animación opcional */
}

#sidebar.open {
  display: block;
}

.btn-MenuLateral{
  margin-top:5px;
  margin-left: 190px;
  font-size: 25px;
  cursor: pointer;
}
  