#sidebar {
  display: none;
  transition: all 0.3s ease; /* Animación opcional */
  background-color: var(--color-menu-lateral);
  width: 250px;
}

#sidebar.open {
  display: block;
}
.btn-MenuLateralAbrir{
  margin-top: -5px;
  margin-left: -10px;
  font-size: 30px;
  font-weight: 700;
  border:none;

}

.btn-MenuLateralCerrar{
  margin-top: -20px;
  margin-left: 190px;
  font-size: 25px;
  border:none;
}
.seccion-1 h1{
    font-family: var(--font-principal);
    color: var(--color-Botones);
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Posición x, posición y, desenfoque y color */

}
.seccion-2{
  font-size: 1.3em;
  font-family: Arial;
}
@media (max-width: 768px) { /* Para pantallas menores a md */
  #sidebar {
    display: none !important; /* Oculta el menú lateral */
  }
  #toggleMenu, #closeMenu {
    display: none !important; /* Oculta los botones asociados */
  }
}


