@import "./variables.css";


body {
    background-color: #f8d9e0; /* Color rosa claro */
  }
  .container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 00px;
    margin: auto;
    margin-top: 50px;
  }
  .container h2{
    font-family: var( --font-principal);
    font-size: 1.3rem;
  }
  .btn-custom {
    background-color: var(  --color-Botones);
    padding: 10px 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 8px 1px  rgba(25, 157, 60, 0.6) /* Sombra verde */
  }
  .btn-custom:hover {
    background-color: #f4cf50; /* Tonalidad más oscura */
  }