@import "./variables.css";


body {
    background-color: #f8d9e0; /* Color rosa claro */
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  .btn-custom {
    background-color: #f7dc6f; /* Amarillo */
    border: 2px solid green;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.3); /* Sombra verde */
  }
  .btn-custom:hover {
    background-color: #f4cf50; /* Tonalidad más oscura */
  }