@import "./variables.css";

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .bi-plus {
    position: absolute;
    color: rgb(25, 157, 58); /* Color del ícono */
    right: -5px;
    top: -5px;
}
.bi-plus:hover {
    color: red; /* Color del ícono al pasar */
}

.add-button {
    position: fixed;
    top: 20px; /* Parte superior */
    right: 20px; /* A la derecha */
    background-color: transparent;
    color:var(--color-principal); /* Color del ícono */
    border: none; /* Sin bordes */
    border-radius: 50%;
    width: auto; /* Tamaño del contenido */
    height: auto;
    font-size: 28px; /* Tamaño del ícono */
    z-index: 1000; /* Siempre visible */
    cursor: pointer; /* Manito al pasar */
    padding: 12px;
    display: flex; /* Asegurar que el contenido se agrupe */
    align-items: center; /* Centrar los íconos verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.add-button:hover {
    background-color: var(--color-Botones) !important;
    color:black; /* Color del ícono al pasar */
    border-radius: 40%; /* Bordes redondeados */
    box-shadow: 0 4px 8px 1px rgba(25, 157, 60, 0.6); /* Sombra verde */
}

  