@import "./variables.css";
body {
    background-color: var(--color-FondoDiv2);
    font-family: Arial;
    color: var(--color-TextoMenuLateral);
    transform: scale(0.9); /* Escalar el contenido al 90% */
    transform-origin: top ; /* Mantener el contenido en la esquina superior izquierda */
    padding: 0;
  }
  .info-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .info-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .data-section {
    margin-bottom: 20px;
  }