/* variables.css */
:root {
    --color-principal: #1CAD48 ;
    --color-Botones: #FFBB00,;
    --color-texto: white;
    --color-fondo: #f5f5f5;
    --font-principal: 'calistoga','arial';
    --color-fondoDiv: #F8E91C; 
    --color-FondoDiv2:#FFF2F2;
    --color-Footter: #D9D9D9; 
    --letra-gris: #B0B0B7; 
  }
  